[am-Contributors] {
  @extend %small1;
  padding: 1rem;
  text-align: center;
  line-height: 1.6;
  &::before {
    content: '';
    color: inherit;
    display: block;
    width: 50%;
    margin: 1rem auto;
    border-top: 1px solid;
    opacity: 0.2;
  }

  > h3 {
    @extend %small2;
    text-transform: uppercase;
    padding-top: 0.5rem;
    color: $grey;
  }
  > ol {
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;

    img {
      margin: 1rem 2rem;
      display: block;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      box-shadow: 0 0 0 1px #eee, 0 0 0 7px white, 0 0 0 8px #ddd;
    }
  }
  > ul {
    padding-bottom: 1rem;
  }
}
