[am-Example] {
  max-width: 720px;
  padding: 1rem;
  margin: 2rem auto 0;

  h3 {
    @extend %h4;
    margin-bottom: 2rem;
    text-align: center;
    strong {
      font-weight: 700;
    }
  }

  p {
    @extend %h6;
    margin: 1rem 0;
    line-height: 1.4;
  }
  em {
    font-style: italic;
  }
  strong {
    font-weight: 600;
  }
  pre {
    margin: 1rem 0 2rem;
    code {
      @extend %small3;
      line-height: 1.8;
      padding: 0.5rem;
      margin: 0;
      box-shadow: none;
      color: $grey;
      display: block;
    }
  }
  code {
    @extend %mono;
    @extend %small3;
    line-height: 1.2;
    white-space: pre;
    box-shadow: 0 0 0 1px #ddd;
    padding: 0.2rem;
    margin: 0.2rem;
  }
  a {
    transition: color 0.1s;
    &, &:hover, &:visited {
      color: hsl(0, 50%, 40%);
      text-decoration: none;
    }
    &:hover {
      color: hsl(0, 50%, 50%);
    }
    &:active {
      transition: none;
      color: hsl(0, 50%, 50%);
      text-decoration: underline;
    }
  }
}
