[am-HomepageHero] {
  position: relative;
  padding: 4rem 1rem;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: 0 1px 0 rgba(black, 0.2);
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 120%;
    z-index: -1;
    transform-origin: 0 100%;
    transform: rotate(-2deg) translateZ(0);
    background: linear-gradient(90deg, #965ddc 0%, lighten(#965ddc, 10%) 100%);
    @for $i from 16 to 54 {
      $purps: hsl(3 * $i + 90, 57%, 60%);
      @media screen and (min-width: $i * 20px) and (max-width: $i * 20px + 19px) {
        background: linear-gradient(90deg, $purps 0%, lighten($purps, 10%) 100%);
      }
    }
  }
  color: $white;
  font-weight: 300;

  h1 {
    @extend %h1;
    &::before {
      @extend %h0;
      content: '[';
    }
    &::after {
      @extend %h0;
      content: ']';
    }
  }
  h2 {
    transform: rotate(-2deg);
    @extend %h3;
    padding-top: 3rem;
    font-style: italic;
    > span {
      font-weight: 400;
    }
  }

  @media screen and (max-width: 600px) {
    h1 {
      @extend %h2;
      &::before, &::after {
        @extend %h1;
      }
    }
    h2 {
      @extend %h4;
    }
  }
}
