[am-HomepageHero] {
  position: relative;
  padding: 4rem 1rem 2rem;
  text-align: center;
  &::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    height: 150%;
    width: 200%;
    background: linear-gradient(45deg, #965ddc 0%, lighten(#965ddc, 10%) 100%);
    z-index: -1;
    transform: rotate(-4deg);
  }
  color: $white;
  font-weight: 300;

  h1 {
    @extend %h1;
    &::before {
      @extend %h0;
      content: '[';
    }
    &::after {
      @extend %h0;
      content: ']';
    }
  }
  h2 {
    transform: rotate(-4deg);
    @extend %h3;
    padding-top: 3rem;
    font-style: italic;
    > span {
      font-weight: 400;
    }
  }

  @media screen and (max-width: 600px) {
    h1 {
      @extend %h2;
      &::before, &::after {
        @extend %h1;
      }
    }
    h2 {
      @extend %h4;
    }
  }
}
