:root {
  @extend %sans;
  font-size: 16px;
  min-height: 100%;
}
@media screen and (min-width: 960px) {
  :root {
    font-size: 20px;
  }
}

body {
  min-height: 100%;
  text-rendering: optimizeLegibility;
  background: $white;
  color: $black;
}

a {
  transition: color 0.1s;
  &, &:hover, &:visited {
    color: hsl(0, 50%, 40%);
    text-decoration: none;
  }
  &:hover {
    color: hsl(0, 50%, 50%);
  }
  &:active {
    transition: none;
    color: hsl(0, 50%, 50%);
    text-decoration: underline;
  }
}
