:root {
  font-size: 16px;
  min-height: 100%;
  @include trait(type, "sans normal");
}

body {
  min-height: 100%;
  text-rendering: optimizeLegibility;
  @include trait(background, "white");
  @include trait(color, "black");
}
