
%sans {
  font-family: 'Avenir Next', 'Helvetica Neue', 'Open Sans', 'Fira Sans';
}

%serif {
  font-family: Palatino, Georgia, "Times New Roman", Times, serif;
}

%mono {
  font-family: "Consolas", "Menlo", "Courier", monospace;
}

%h0 {
  font-size: 6rem;
}

%h1 {
  font-size: 4.5rem;
}

%h2 {
  font-size: 3.5rem;
}

%h3 {
  font-size: 2.5rem;
}

%h4 {
  font-size: 1.5rem;
}

%h5 {
  font-size: 1.2rem;
}

%small0 {
  font-size: 1.0rem;
}

%small1 {
  font-size: 0.9rem;
}

%small2 {
  font-size: 0.8rem;
}

%small3 {
  font-size: 0.7rem;
}

%small4 {
  font-size: 0.6rem;
}
