%_after_abs {
  position: relative;
  &::after {
    display: block;
    position: absolute;
  }
}

%_before_abs {
  position: relative;
  &::before {
    display: block;
    position: absolute;
  }
}

%hr {
  color: inherit;
  display: block;
  width: 50%;
  margin: 1rem auto;
  border-top: 1px solid;
  opacity: 0.2;
}

$attr: "after";
@include attr {
  &::after {
    content: '';
  }
}

@include val("down-chevron") {
  @extend %_after_abs;
  &::after {
    top: 100%;
    left: 50%;
    width: 1rem;
    height: 1rem;
    border: 2px solid;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: translateX(-0.5rem) rotate(45deg);
  }
}

@include val("hr") {
  &::after {
    @extend %hr;
  }
}

$attr: "before";
@include attr {
  &::before {
    content: '';
  }
}

@include val("hr") {
  &::before {
    @extend %hr;
  }
}

@include val("bullet") {
  &::before {
    content: '\2022';
    padding-right: 0.5rem;
  }
}
