@include AM("border") {

  @include val("round") {
    border-radius: 50%;
  }

  @include val("none") {
    border: none;
    box-shadow: none;
  }

  @include val("polaroid") {
    box-shadow: 0 0 0 1px #eee, 0 0 0 7px white, 0 0 0 8px #ddd;
  }

  @include val("frame") {
    box-shadow: 0 0 0 7px white, 0 0 0 8px #ddd;
  }

  @include val("simple") {
    box-shadow: 0 0 0 1px #ddd;
  }

  @include val("thick-left") {
    border-left: 0.2rem solid;
    padding-left: 1rem;
  }
}
