$white: hsl(60, 40%, 99%);
$black: #111;
$blue: #00436e;
$red: #f4454a;
$green: #2b782b;

@include AM("color") {
  @include val("white") {
    color: $white;
  }

  @include val("black") {
    color: $black;
  }

  @include val("blue") {
    color: $blue;
  }

  @include val("red") {
    color: $red;
  }
}

[grid-Row] {

}

[am-Grid~="row"] {

}

[am-Grid~="col"] {

}

.my-override [am-Grid~="row"] {

}
