$attr: "flex";

@include attr {
  display: flex;
}

@include val("column") {
  flex-direction: column;
}

@include val("align-center") {
  align-items: center;
}

@include val("align-end") {
  align-items: flex-end;
}

@include val("align-stretch") {
  align-items: stretch;
}

@include val("wrap") {
  flex-wrap: wrap;
}

@include val("justify-center") {
  justify-content: center;
}

@include val("justify-end") {
  justify-content: flex-end;
}

$attr: "flex-child";

@include val("shrink0") {
  flex-shrink: 0;
}

@include val("shrink1") {
  flex-shrink: 1;
}

@include val("grow1") {
  flex-grow: 1;
}

@include val("1/3") {
  flex: 0 0 33.33%;
}
@include val("1/2") {
  flex: 0 0 50%;
}
