$attr: "size";

$sizes: 0.5, 1, 1.5, 2, 3, 4, 6, 8, 12, 16, ;
@each $i in $sizes {
  @include val("#{$i}") {
    width: 1rem * $i;
    height: 1rem * $i;
  }
  @include val("#{$i}*auto") {
    width: 1rem * $i;
    height: auto;
  }
  @include val("auto*#{$i}") {
    width: 1rem * $i;
    height: auto;
  }
  @each $j in $sizes {
    @include val("#{$i}*#{$j}") {
      width: 1rem * $i;
      height: 1rem * $j;
    }
  }
}
