header(am-HomepageHero)
  h1
    span(am-type="h1 light") Attribute Modules
    span(am-type="italic h3 light") for
    span(am-type="h2 black") CSS
main
  section(am-Example)
    h2 Syntax
    p Attribute Modules (AMCSS) syntax consists of three parts. They are:
    ul
      li The Prefix
      li The Module
      li The Value
