/* Reset */
/* Reset based on Eric Meyer's 2.0 Reset: http://meyerweb.com/eric/tools/css/reset/
   plus box-sizing, of course */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

/* Variables */
:root {
  font-family: 'Avenir Next', 'Helvetica Neue', 'Open Sans', 'Fira Sans'; }

[am-Example] code {
  font-family: "Consolas", "Menlo", "Courier", monospace; }

[am-HomepageHero] h1::before, [am-HomepageHero] h1::after {
  font-size: 6rem; }

[am-HomepageHero] h1, [am-HomepageHero] h1::before, [am-HomepageHero] h1::after {
  font-size: 4.5rem; }

[am-HomepageHero] h1 {
  font-size: 3.5rem; }

[am-HomepageHero] h2 {
  font-size: 2.5rem; }

[am-HomepageHero] h2, [am-Example] h2, [am-Example] h3 {
  font-size: 1.5rem; }

[am-Example] ul strong {
  font-size: 1.2rem; }

[am-Contributors] {
  font-size: 0.9rem; }

[am-Contributors] > h3 {
  font-size: 0.8rem; }

[am-Example] pre code, [am-Example] code {
  font-size: 0.7rem; }

/* Modules */
[am-HomepageHero] {
  padding: 4rem 1rem;
  text-align: center;
  background: linear-gradient(45deg, #2b782b 0%, #85c543 100%);
  color: #fdfdfb;
  font-weight: 300; }
  [am-HomepageHero] h1::before {
    content: '['; }
  [am-HomepageHero] h1::after {
    content: ']'; }
  [am-HomepageHero] h2 {
    padding-top: 2rem;
    font-style: italic; }
    [am-HomepageHero] h2 > span {
      font-weight: 400; }
  @media screen and (max-width: 600px) { }

[am-Example] {
  max-width: 720px;
  padding: 1rem;
  margin: 2rem auto 0; }
  [am-Example] h2 {
    font-weight: 700;
    margin-bottom: 2rem; }
  [am-Example] h3 {
    margin-bottom: 2rem;
    line-height: 1.4; }
    [am-Example] h3 strong {
      font-weight: 700; }
  [am-Example] p {
    margin: 1rem 0;
    line-height: 1.4; }
  [am-Example] em {
    font-style: italic; }
  [am-Example] strong {
    font-weight: 600; }
  [am-Example] pre {
    margin: 1rem 0 2rem; }
    [am-Example] pre code {
      line-height: 1.8;
      padding: 0.5rem;
      margin: 0;
      box-shadow: none;
      color: #575757;
      display: block;
      max-width: 100%;
      overflow: auto; }
  [am-Example] code {
    line-height: 1.2;
    white-space: pre;
    box-shadow: 0 0 0 1px #ddd;
    padding: 0.2rem;
    margin: 0.2rem; }
  [am-Example] ul {
    line-height: 1.4; }
    [am-Example] ul li {
      padding-top: 1rem; }

[am-Code] {
  padding: 2px;
  border-radius: 2px; }

[am-Code~="removed"] {
  color: rgba(244, 69, 74, 0.4);
  background: rgba(244, 69, 74, 0.2); }

[am-Code~="added"] {
  color: rgba(43, 120, 43, 0.8);
  background: rgba(43, 120, 43, 0.2); }

[am-Code~="comment"] {
  color: #a1a1a1; }

[am-Contributors] {
  padding: 1rem;
  text-align: center;
  line-height: 1.6; }
  [am-Contributors]::before {
    content: '';
    color: inherit;
    display: block;
    width: 50%;
    margin: 1rem auto;
    border-top: 1px solid;
    opacity: 0.2; }
  [am-Contributors] > h3 {
    text-transform: uppercase;
    padding-top: 0.5rem;
    color: #575757; }
  [am-Contributors] > ol {
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center; }
    [am-Contributors] > ol img {
      margin: 1rem 2rem;
      display: block;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      box-shadow: 0 0 0 1px #eee, 0 0 0 7px white, 0 0 0 8px #ddd; }
  [am-Contributors] > ul {
    padding-bottom: 1rem; }

/* Set global styles */
:root {
  font-size: 16px;
  min-height: 100%; }

@media screen and (min-width: 960px) {
  :root {
    font-size: 20px; } }

body {
  min-height: 100%;
  text-rendering: optimizeLegibility;
  background: #fdfdfb;
  color: #111; }

a {
  transition: color 0.1s; }
  a, a:hover, a:visited {
    color: #993333;
    text-decoration: none; }
  a:hover {
    color: #bf4040; }
  a:active {
    transition: none;
    color: #bf4040;
    text-decoration: underline; }
